<!DOCTYPE html>
<html>
<head><meta charset="utf-8"><title>Home</title></head>
<body>
    {{ include('default/header.html.twig') }}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</body>
</html>