* {
    transition-duration: 0.1s;
}
.App {
    text-align: center;
    width: 100%;
}
table {
    width: 100%;
    padding: 10px;
    border: solid;
    border-radius: 10px;
}
td, th{
    padding-bottom: 5px;
}
tr:hover td{
    background-color: cadetblue;
    color: white;
    cursor: pointer;
}