<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"><title>Login</title>
    {{ include('default/style.html.twig') }}
</head>
<body>
    <form action="login/go" method="post" style="margin-left:auto;margin-right:auto;width:70%;text-align:center">
        <h3>Log in:</h3>
        <input type="text" name="username" placeholder="Username" required style="width: 100%"/>
        <input type="submit" value="Login" style="width: 100%" />
    </form>
</body>
</html>